<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BLACKRICH GADGETS</title>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/indooo.css' %}">
</head>
<body>
<div class= up>
<h1 class ="titlo">
POST UR THANG<h1>

<form action="upload" method="POST" enctype="multipart/form-data">
    {% csrf_token  %}
      <div class="form-group">
      <label for="image">Upload image:</label>
      <img width="50" height="50" src="" />
      <input type="file" id="image"  name="image_upload">
      </div>
      <br>
      <br>
      <div class="form-group">
        <label for="caption">caption</label>
        <textarea id="cap" name="caption" required></textarea>
      </div>
      <br>
      <br>
      <div class="form-group">
       <input type="submit" value="Submit">
</div>
</form>
</body>
</html>